:root {
    --color-bg: #427a60;
    --color-text-main: #c1e4de;
    --color-primary: #e4ffd1;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }

  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }

#chbox{
  width: 15px;
  height: 15px;
}

body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
    margin-left: 5%;
    margin-top: 4%;
  }
li {
    display: block;
    list-style-type: none; /* Remove the bullet points */
    padding: 1% 1%;  
    font-family: inherit;
    color: var(--color-text-main)
}

h2{
    color: var(--color-primary);
    margin: 1%;
}

button {
  font-size: 100%;
  background: #d7ddc884;
  border: 0px solid #1d51394c;
  box-sizing: border-box;
  /* border-radius: 4px; */
  padding: 0.27rem 0.75rem;
  transition: 400ms ease-out;
  color: #133e2a;
  flex:0.5;
  margin: 1%;
}

#item_delete {
  margin: 0;
}

button:hover {
  background: #d7ddc8cd;
}

section{
  display: flex;
  width: 40%;
}

input{
  background: transparent;
  border-bottom: 1.5px solid #1d5139;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 0.27rem 0.4rem;
  color: var(--color-text-main);
  font-size: 100%;
  flex: 1;
}

.end_link, a.list{
  background: transparent;
  border-bottom: 1.5px solid #1d5139;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 0.2rem 0.7rem;
  color: var(--color-text-main);
  font-size: 100%;
  text-decoration: none;
}

.end_link:hover, a.list:hover {
  background: #1d5139;
}
